@media (max-width: 734px) {
    
    header .container {
        padding: 0px 24px;
    }
    .header_menu {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        gap: 44px;
        width: 200px;
        height: 100%;
        background: #ffffff;
        justify-content: center;
        flex-direction:  column;
        animation: anim 0.5s;
    }
    @keyframes anim {
        from {
            transform: translateX(200px);
        }
        to {
            transform: translateX(0px);
        }
        
    }
    .container-menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 200px;
        height: 500px;
    }
    .header_menu.show {
        z-index: 50;
        display: flex; 
    }

    .burger {
        z-index: 100;
        cursor: pointer;
        display: flex;
        position: fixed;
        top: 32px;
        right: 24px;
        transition: all 0.2s;

    }
    .burger .Elem {
        transition: all 0.2s;
        
    }
    .burger.active .Elem:nth-child(1) {
        display: none;
    }
    .burger.active .Elem:nth-child(4) {
        display: none;
    }
    .burger.active .Elem:nth-child(2) {
        border-radius: 2px;
        transform:translateY(1px) rotate(45deg);
    }
    .burger.active .Elem:nth-child(3) {
        border-radius: 2px;
        transform:translateY(-2px) rotate(-45deg);
    }
    .header_menu-left {
        margin-right: 30px;
    }
}
@media (max-width: 734px) {
    /* 1 секция */

#chair {
    height: 1070px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: rgba(249, 249, 249, 1);
}

#chair .container {
    padding: 0;
    flex-direction: column;
    gap: 0px;
}

.chair_img {
    width: 100%;
    height: 380px;
}

.left-content_chair {
    padding: 28px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.up-title-price {
    gap: 12px;
    font-size: 20px;
    padding-bottom: 22px;
}

.product-description {
    gap: 12px;
}
.small-screens {
    display: block;
}
.large-screens {
    display: none;
}
.discription-title {
    font-size: 20px;
}
.dimensions-title {
    font-size: 20px;

    padding-bottom: 4px;
}

.dimension .elem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

.dimension .item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgba(42, 37, 75, 1);
    font-size: 20px;
    font-weight: 400;
}
.line-dimensions {
    width: 1px;
    height: 44px;
    background-color: rgba(235, 232, 244, 1);
}

.Quantitity {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Quantitity span {
    color: rgba(42, 37, 75, 1);
    font-size: 24px;
    font-weight: 400;
}

.input-container {
    width: 100%;
}

input[type="number"] {
    width: 100%;
}

.button-form {
    flex-direction: column;
    gap: 14px;
}

.blue-button {
    order: 1;
}

.white-button {
order: -1;
}
    /* 2 секция */
    
    #join_club {
        height: 638px;
    }
    #join_club .container img {
        width: 100%;
        height: 358px;
        object-fit: cover;
        left: 0;
    }
    #join_club .container{
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #club .container {
        padding: 0px 24px;
        width: 390px;
        height: 292px;
        gap: 40px;
    }
    .container_form {
        padding: 0px 24px;
        width: 100%;
        height: 481px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    .title-discr-form {
        align-items: start;
    }
    .title-discr-form span{
        text-align: start;
        font-size: 16px;
    }
    .title-form {
        font-size: 20px;
    }
    .form_join input[type="text"] {
        width: 211px;
        height: 60px;
    }
    /* подвал */
    footer {
        height: 668px;
    }
    
    footer .container {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
        flex-direction: column;
        gap: 24px;
    }
    
    .up-footer-menu {
        flex-direction: column;
        justify-content: space-between;
        gap: 17px;
        padding-bottom: 12px;
    }
    
    .left-menu-footer {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 48px;
    }
    
    .down-menu_footer {
        justify-content: center;
    }
    
    .down-menu_footer span {
        font-size: 16px;
    } 
    .form1 input[type="text"] {
        width: 190px;
    }
    .icon-menu_footer {
       display: none;
    }
}