* {
    margin: 0;
    box-sizing: border-box;
}


/*img {
   pointer-events: none;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: rgba(249, 249, 249, 1);
}

header {
    max-width: 1920px;
    width: 100%;
    height: 80px;
}

header .container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

header .logo {
    font-size: 20px;
    font-weight: 400;
}

.burger {
    width: 16px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.card-element {
    transition: all 0.2s;
}

.card-element:hover {
    transform: scale(1.03);
}

.burger .Elem {
    width: 100%;
    height: 1px;
    background-color: black;
}
.container-menu-wrapper {
    display: flex;
    gap: 44px;
    transition: all 1.5s;

}



.header_menu a {
    color: rgba(0, 0, 0, 0.541);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.header_menu a:hover {
    text-decoration: underline;
}

.header_menu-left {
    z-index: 100;
    display: flex;
    gap: 16px;
}

.header_menu-left img {
    cursor: pointer;
}

@media (max-width: 734px) {
    header .container {
        padding: 0px 24px;
    }
    .header_menu {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        gap: 44px;
        width: 200px;
        height: 600px;
        background: #ffffff;
        justify-content: center;
        flex-direction:  column;
        animation: anim 0.5s;
    }
    @keyframes anim {
        from {
            transform: translateX(200px);
        }
        to {
            transform: translateX(0px);
        }
        
    }
    .container-menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 200px;
        height: 500px;
    }
    .header_menu.show {
        z-index: 50;
        display: flex; 
    }

    .burger {
        z-index: 100;
        cursor: pointer;
        display: flex;
        transition: all 0.2s;

    }
    .burger .Elem {
        transition: all 0.2s;
        opacity: 1;
        
    }
    .burger.active .Elem:nth-child(1) {
        display: none;
        opacity: 0;
    }
    .burger.active .Elem:nth-child(4) {
        display: none;
    }
    .burger.active .Elem:nth-child(2) {
        border-radius: 2px;
        transform:translateY(1px) rotate(45deg);
    }
    .burger.active .Elem:nth-child(3) {
        border-radius: 2px;
        transform:translateY(-2px) rotate(-45deg);
    }
}


/*1 секция*/

#styl {
    width: 100%;
    height: 704px;
    background: rgba(249, 249, 249, 1);
}

#styl .container {
    max-width: 1920px;
    width: 100%;
    height: 704px;
    padding: 0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-menu-main {
    display: flex;
    background-color: #2a254b;
    max-width: 1280px;
    height: 684px;
    width: 1480px;
}

.container-menu-left {
    display: flex;
    flex-direction: column;
}

.up-menu {
    height: 50%;
}

.down-menu {
    height: 50%;
    display: flex;
    align-items: end;
}

.container-up_menu {
    width: 513px;
    height: 187px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 60px;
}

.container-up_menu span {
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;
}
.button-collection {
    border: none;
    width: 172px;
    height: 56px;
    background-color: #f9f9f926;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    
}

.text-down_menu {
    padding: 60px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}


/* 2 секция */

#Goods {
    width: 100%;
    height: 761px;
    background: rgba(249, 249, 249, 1);
}

#Goods .container {
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    padding-top: 80px;
    justify-content: center;
}

.Goods-title {
    font-size: 32px;
    font-weight: 400;
    color: #2a254b;
    margin-bottom: 27px;
}

.Goods-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.Goods-card a {
    user-select: none;
    text-decoration: none;
}

.description-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
}

.description-card span {
    font-size: 20px;
    font-weight: 400;
    color: #2a254b;
}

.Goods-button {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.Goods-button {
    margin-top: 35px;
}

.Goods-button button {
    padding: 14px 19px;
    font-size: 20px;
    font-weight: 400;
    color: #2a254b;
    border: none;
    cursor: pointer;
    background-color: #f9f9f9;
}

.Goods-button button:hover {
    background-color: #dbdbdb;
}

.Goods-button button:active {
    background-color: #dbdbdb;
    transform: scale(0.98);
}
/* 3 секция */
#club {
    width: 100%;
    height: 481px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#club .container {
    padding: 0px 50px;
    width: 571px;
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.title-discr-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
.title-discr-form span{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #2A254B;
}
.title-form {
    font-size: 24px;
    font-weight: 400;
    color: #2A254B;
}
.form_join {
    display: flex;
}
.form_join input[type="text"] {
    width: 341px;
    height: 60px;
    background-color: #e7e7e7;
    border: none;
    color: #2A254B;
    font-size: 20px;
    font-weight: 400;
    padding-left: 32px;
}

.form_join input[type="text"]::placeholder {
    color: #2A254B;
    font-size: 20px;
    font-weight: 400;
}

.form_join input[type="submit"] {
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: #2A254B;
    width: 131px;
    height: 60px;
    border: none;
    margin-left: -5px;
}


/* 4 секция*/

#studio {
    width: 100%;
    height: 603px;
    background: rgba(249, 249, 249, 1);
}

#studio .container {
    width: 100%;
    height: 603px;
    display: flex;
    flex-direction: row;
}

.studio-container_items {
    padding: 72px 100px 54px 84px;
    display: flex;
    flex-direction: column;
    gap: 104px;
}

.studio-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.studio-title {
    font-size: 24px;
    font-weight: 400;
    color: #2a254b;
}

.studio-items span {
    font-size: 20px;
    font-weight: 400;
    color: #505977;
}

.studio-button button {
    padding: 14px 22px;
    font-size: 20px;
    font-weight: 400;
    color: #2a254b;
    border: none;
    cursor: pointer;
    background-color: #f9f9f9;
}

.studio-button button:hover {
    background-color: #dbdbdb;
}

.studio-button button:active {
    background-color: #dbdbdb;
    transform: scale(0.98);
}

/* 5 секция */
#different {
    width: 100%;
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#different .container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-different_items {
    display: flex;
    gap: 58px;
    justify-content: space-between;
}
.container-different_items .item {
    width: 266px;
    height: 202px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title-different {
    font-size: 32px;
    font-weight: 500;
    color: #2A254B;
}
.title-different_item {
    font-size: 20px;
    font-weight: 400;
    color: #2A254B;
}
.dis-different_item {
    font-size: 18px;
    font-weight: 400;
    color: #2A254B;
}
/* Подвал */

footer {
    width: 100%;
    height: 414px;
    background-color: #2a254b;
}

footer .container {
    width: 100%;
    height: 414px;
    padding: 58px 83px 56px 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.up-footer-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    border-bottom: solid 1px #4e4d93;
}

.left-menu-footer {
    display: flex;
    gap: 90px;
}

.down-menu_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.down-menu_footer span {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.item-menu span {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.item-menu ul li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.item-menu ul li a:hover {
    text-decoration: underline;
}

.item-menu ul li {
    list-style: none;
}

.item-menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label-form {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.form1 input[type="text"] {
    width: 496px;
    height: 60px;
    background-color: #ffffff26;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-left: 32px;
}

.form1 input[type="text"]::placeholder {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.form1 input[type="submit"] {
    color: #2a254b;
    font-size: 20px;
    font-weight: 400;
    width: 131px;
    height: 60px;
    border: none;
    margin-left: -5px;
    margin-top: 8px;
}

.icon-menu_footer {
    display: flex;
    gap: 24px;
    cursor: pointer;
}

@media (max-width: 734px) {
    /* 1 секция */
    .left-menu-main {
        height: 404px;
        background-color: #dbdbdb00;
    }
    .left-menu-main img {
        display: none;
    }
    #styl {
        background-color: #2a254b;
        height: 502px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    #styl .container {
        padding: 24px;
        height: 502px;
        width: 342px;
    }
    .container-up_menu {
        margin: 0px;
        width: 342px;
        height: 50%;
    }
    .container-up_menu span {
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
    }
    .button-collection {
        width: 100%;
        height: 60px;
        padding: 20px 0px;
    }
    .text-down_menu {
        margin-top: 0px;
        padding: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }
    .up-menu {
        height: 202px;
    }
    .down-menu {
        align-items: start;
        height: 202px;
    }
    /* 2 секция */
    .card-element img {
        width: 163px;
    height: 202px;
    }
    #Goods .container {
        padding: 0px 24px;
        padding-top: 48px;
    }
    .Goods-title {
        font-size: 20px;
        font-weight: 400;
    }
    .description-card span {
        font-size: 16px;
        font-weight: 400;
    }
    .Goods-card {
        row-gap: 20px;
        flex-wrap: wrap;
    }
    /* 3 секция */
    #club .container {
        padding: 0px 24px;
        width: 390px;
        height: 292px;
        gap: 40px;
    }
    .title-discr-form {
        align-items: start;
    }
    .title-discr-form span{
        text-align: start;
        font-size: 16px;
    }
    .title-form {
        font-size: 20px;
    }
    .form_join input[type="text"] {
        width: 211px;
        height: 60px;
    }
    
    /* 4 секция */
    /* 5 секция */
    #different {
        height: 757px;
        display: flex;
        justify-content: center;
    }
    #different .container {
        width: 100%;
        gap: 36px;
        padding-left: 24px;
        align-items: start;
    }
    .container-different_items {
        display: flex;
        gap: 28px;
        justify-content: space-between;
        flex-direction: column;
    }
    .container-different_items .item {
        width: 266px;
        height: 124px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .title-different {
        font-size: 20px;
    }
    /* подвал */
}
@media (max-width: 374px) {
        /* 2 секция */
        .card-element img {
            width: 130px;
            height: 180px;
        }
        #Goods .container {
            padding: 0px 24px;
            padding-top: 48px;
        }
        .Goods-title {
            font-size: 20px;
            font-weight: 400;
        }
        .description-card span {
            font-size: 16px;
            font-weight: 400;
        }
        .Goods-card {
            row-gap: 20px;
        }
}
